/* Colors 
Blue: #00356B
Red: #F40504
Orange: #FF9C03
Yellow: #FBFB0D
Light Green: #72ED4C
Green: #00A358
*/

.container {
    padding: 100px 0 20px 0;
}
.container div {
    margin: auto;
    text-align: center;
}

/*Text*/
#text-container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}
#text {
    width: 70%;
    margin: auto;
}
#text, #text span {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
#mood-label {
    /*Init State*/
    color: #F40504;
}

/*Faces*/
#face-row {
    width: 100%;
    /*padding-bottom: 10px;*/
}
.mood-face {
    display: inline-block;
    width: 19.5%;
    text-align: center;
}
.mood-face img {
    margin: auto;
}

#percent-row {
    width: 100%;
    padding-bottom: 10px;
}
.mood-face p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #E3E3E3;
}

/*Vote*/
#vote-label {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 20pt;
    line-height: 1;

    margin-bottom: 0;
}
#vote-question, #vote-question span {
    font-family: 'Radial', sans-serif;
    font-size: 42pt;
    font-weight: bold;
    line-height: 1;

    margin-top: 20px;
}
#vote-question span {
    color: #143F6B;
}

/*.mood-btn {
    position: relative;
    width: 100%;
}
.mood-btn span, .mood-btn img {
    position: absolute;
    top: 50%;
}*/
.mood-btn {
    position: relative;
    width: 100%;
    border: none;
    background-color: white;
    /*display: flex;
    align-items: center;*/
}
.mood-btn div {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40pt;
    display: inline-block;
    height: 92px;
    padding: 10px;
}
/*Regular Btns*/
#mood-btn-01 div {
    color: #F45453;    
}
#mood-btn-02 div {
    color: #FC9B21;    
}
#mood-btn-03 div {
    color: #FDCF3D;    
}
#mood-btn-04 div {
    color: #91E777;    
}
#mood-btn-05 div {
    color: #00C96C;    
}

/*Submit*/
#submit {
    background-color: #143F6B;
}
#submit div {
    color: white;
}
#submit.hidden{
    visibility: hidden;
}

/*Active Btns*/
.mood-btn.active div{
    color: white !important;
}
#mood-btn-01.active {
    background-color: #F40504;    
}
#mood-btn-02.active {
    background-color: #FF9C03;    
}
#mood-btn-03.active {
    background-color: #FBFB0D;    
}
#mood-btn-04.active {
    background-color: #72ED4C;    
}
#mood-btn-05.active {
    background-color: #00A358;    
}