//Variables
$dark-blue: #081C2F;
$blue: #224362;
$cream: #FBF9E4;
$yellow: #FFDB45;
$white: #FFFFFF;

* {
    font-family: "Proxima Nova Light", Helvetica, Arial, sans-serif;
}

body {
    background: $blue;
    background-image: url("../img/constellations.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 20px 0 0 0;
}

h1, h2, p, em, b{
    color: $cream;
}

h1 {
    font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
    font-size: 60pt;
    margin-bottom: 0;
}

h2 {
    font-size: 30pt;
    margin-top: 0;
    font-weight: 100;
}

p {
    font-size: 15pt;
    margin-bottom: 10px;
}

b a {
    text-decoration: none;
    font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: $cream;
}
b a:hover {
    background-color: $dark-blue;
}


//Sections
#header {
    padding-left: 20px;
    margin-bottom: 40px;
}

.section-bar {
    background-color: $dark-blue;
    padding: 5px 0 5px 15px;

    h3 {
        color: $white;
        font-size: 12pt;
        text-transform: uppercase;
        font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
        margin: 0;
    }
    p {
        font-size: 12pt;
        margin: 0;
    }
}

.project {
    height: 600px;

    h3 {
        color: $cream;
        font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
        font-size: 25pt;
        margin-bottom: 0;
    }
    button {
        background: $dark-blue;
        border: none;
        color: $white;

        font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        padding: 5px;
    }
    button:hover {
        background-color: $yellow;
        color: $dark-blue;
    }
}

#about-time:hover {
    background-image: url("../img/project-headers/abouttime.JPG");
}
#invertion:hover {
    background-image: url("../img/project-headers/invertion.JPG");
}

#contact {
    padding: 30px 0 50px 20px;

    h2 {
        font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
        //font-size: 25pt;
    }
    a {
        text-decoration: none;
        color: $cream;
        font-size: 20pt;
    }
    a:hover {
        background-color: $dark-blue;
    }
}