:root {
    --bulma-primary-h: 359deg;
    --bulma-primary-s: 66%;
    --bulma-primary-l: 38%;
    --bulma-link-h: 353deg;
    --bulma-link-s: 42%;
    --bulma-link-l: 51%;
    --bulma-family-primary: Rubik,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
  }